body {
  margin: 0;
  height: 100vh;
  background-color: #e5e5e584;
}

#app {
  height: 100%;
  display: grid;
  grid-template-columns: 60% 1fr;
  grid-template-rows: 20% auto;
  grid-template-areas: 
    "header header"
    "capa editoras";
}

#header, #content, #sidenav, #footer {
  border: 1px solid rgb(0, 2, 128);
}

#header {
  grid-area: header;
  text-align: center;
}
#editoras {
  grid-area: editoras;
  display: flex;
  flex-wrap: wrap;
}

#capa  {
  grid-area: capa;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

}

#footer {
  grid-area: footer;
}
#sidenav {
  grid-area: sidenav;
}

.block {
  width: 200px;
  height: 250px;
  border: 1px solid rgb(29, 60, 194);
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  background-color: #adccf5;
}