body {
  margin: 0;
  height: 100vh;
  background-color: #13212b;
  font-family: 'Sansita', sans-serif
}

h1 {
  font-size: 70px;
  color: #ffe917;
}

.h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #ffe917;
  margin-top: 0px;
}

.h2capa {

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  color: #ffe917;
  margin-top: 10px;
}

.h3capa {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  margin-top: 0px;
  font-size: 28px;
  color: #ffe917;
}

h2 {
  margin: 10px;
  display: flex;
  justify-content: center;
}

h3 {
  margin: 12px;
}

.h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  margin-top: 0px;
  font-size: 20px;
  color: #ffe917;
}

#app {
  height: 100%;
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: 20% auto;
  grid-template-areas: 
    "header header"
    "capa editoras";
}

#header {
  grid-area: header;
  text-align: center;
  border: 15px;
  padding: 10px;
}

#capa  {
  grid-area: capa;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
}

#editoras {
  grid-area: editoras;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.imagem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.imgedit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.blockeditoras {
  width: 250px;
  height: 500px;
  border: 1px solid #ffe917;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  background-color: #1f3544;
}
.blockcapa {
  width: 570px;
  height: 850px;
  border: 1px solid #ffe917;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  background-color: #1f3544;
}
.editora.imagem {
  margin: 0 auto;
}
