body {
  margin: 0;
  height: 100vh;
  background-color: #e5e5e584;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 30px;
}
#app {
  height: 100%;
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: 20% auto;
  grid-template-areas: 
    "header header"
    "capa editoras";
}

#header, #content, #sidenav, #footer {
  border: 1px solid rgb(0, 2, 128);
}

#header {
  grid-area: header;
  text-align: center;
}
#editoras {
  grid-area: editoras;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.img {
  display: flex;
  justify-content: center;
}


#capa  {
  grid-area: capa;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

}

#footer {
  grid-area: footer;
}
#sidenav {
  grid-area: sidenav;
}

.block {
  width: 320px;
  height: 410px;
  border: 1px solid rgb(29, 60, 194);
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  background-color: #adccf5;
}